body {
  background-color: thistle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Magic {
  height: 400px;
  width: 400px;
  background-color: chartreuse;
  font-weight: 600;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Magic-Box {
  position: absolute;
}
.Magic-Circle {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.Magic:hover {
  background-color: coral;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  transform: rotate(360deg);
}
.Magic:hover .Magic-Circle {
  visibility: visible;
  opacity: 1;
}
.Magic:hover .Magic-Box {
  visibility: hidden;
  opacity: 0;
}
